@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300;400;500;600&family=Vollkorn&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4bd5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}
section{
  width: 100%;
}
body {
  font-family: 'Imperial Script', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Vollkorn', serif;
  background: var(--color-bg);
  color: var(--color-white);

  /* background-image: url('../src/assets/bg-texture.png'); */
  display: flex;
  flex-direction: column;
}
.btn {
  /* width: max-content; */
  display: inline-block;
  /* color: var(--color-primary); */
  
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  background-color: transparent;
}

.btn-message {
  background: var(--color-primary);
  color: var(--color-bg);
}

input, textarea{
  color:var(--color-white);
border: solid 2px var(--color-primary-variant);
background-color: transparent;
}

span{
  color: var(--color-primary);
}